.lista-tags {
    margin-left:0px;
    min-height:20px
}

ul:empty::after{
  content: attr(data-empty-message);
}

.top-buffer {
    margin-top:20px;
}

/* Titulos */

h1 {
  margin-top: 15px;
}

h3 {
  margin-top: 15px;
  padding-bottom: 10px;
  font-size: 30px;
}

p {
  margin-top: 15px;
}

/* Botones */

.boton-addtag {
  float: left;
}

/* Contenidos div columna */
.contenido-columna {
  margin-left: 15px;
}
