.inputs {
  width: 300px !important;
}

.inputssmall {
  width: 200px !important;
}

.inputdescripcion {
  width: 500px !important;
}

.dropdown-etiquetas {
  width: 240px !important;
}

textarea.form-control {
  height: 100px;
  width: 600px;
}
