/* Tabla general */

.mitabla {
  margin-left: 5px;
}

.tddescripcion {
    width: 700px !important;
}

.tdprioridad {
  width: 10px !important;
  padding-right: 40px;
}

/* Para las tareas realizadas */

.realizada {
  text-decoration: line-through;
  color: gray !important;
}

.realizadab {
  text-decoration: line-through;
  background-color: rgba(128, 128, 128, 0.21) !important;
  color: gray;
  border-color: rgba(128, 128, 128, 0.21) !important;
}

/* Acordeón anotacion de una tarea */

/* Acordeon mio */

.anotacion {
  background-color: rgba(51, 122, 183, 0.89);
  width: 165px;
  min-height: 20px;
  padding: 8px 10px;
  text-align: justify;
  border-radius: 2px;
  border: 1px solid;
  border-color: rgba(217, 83, 79, 0.33);
  color: white;
}

.anotacioneditar {
  width: 700px;
  text-align: justify;
}

.textanotacion {
  width: 665px;
  margin-top: -7px;
  float: left;
}

/* Botones anotacion */

.botonesanotacion {
  margin-top: 7px;
}

.botonAnotacionizq {
  margin-left: 10px;
  color: rgba(34, 34, 34, 0.83);
}

.botonAnotacionder {
  float: right;
  margin-right: 10px;
  color: rgba(34, 34, 34, 0.83);
}

/* Para que al principio esté oculta */
#anotacionacordeon {
  display: none;
}


/* Estilo CSS para las prioridades */

.prioridad1, .prioridad2, .prioridad3, .prioridad0 {
  margin-top: 2px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  border-radius: 19%;
  box-shadow: inset 2px 1px 15px rgba(53, 8, 8, 0.43);
}

.prior:hover .prioridades {
    visibility: visible;
}
.prior {
    position: relative;
}

.done {
  cursor:auto;
}

.prioridades div {
    margin-top: 10px;
}
.prioridades {
  position: absolute;
  padding: 9px;
  top: -18px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.77);
  background-color: #F9F9F9;
  z-index: 55;
  left: -9px;
  visibility: hidden;
  padding-top: 5px;
  height: 100px;
}
.prioridad1 {
    background-color: #D60000;
}

.prioridad2 {
    background-color: #D6D600;
}
.prioridad3 {
    background-color: #00D608;
}
.prioridad0 {
    background-color: #778678;
}
