/* Para las tareas realizadas */

#realizada {
  text-decoration: line-through;
  color: gray !important;
}

#realizadab {
  text-decoration: line-through;
  background-color: rgba(128, 128, 128, 0.21) !important;
  color: gray;
  border-color: rgba(128, 128, 128, 0.21) !important;
}
