/* Tabla general */

.mitabla {
  margin-left: 5px;
}

.accion {
  padding-left: 20px !important;
}

.botonesaccion {
  padding-left: 20px !important;
  width: 300px !important;
}

.tddescripcion {
    width: 700px !important;
}

.tdprioridad {
  width: 10px !important;
  padding-right: 40px;
}

/* Para las tareas realizadas */

.realizada {
  text-decoration: line-through;
  color: gray !important;
}

.realizadab {
  text-decoration: line-through;
  background-color: rgba(128, 128, 128, 0.21) !important;
  color: gray;
  border-color: rgba(128, 128, 128, 0.21) !important;
}

/* Icono ver anotacion de una tarea */

.iconoacordeon {
  margin-top: 3px;
  color: rgb(132, 132, 132);
  float: right;
}

.iconoinvisible {
  display: none;
}


/* Acordeón anotación de una tarea*/

.anotacioninvisible {
  display: none;
}

.columna2anotacion {
  width: 218px !important;
}

.textanotacion {
  width: 665px;
  margin-top: -7px;
  float: left;
  text-align: justify;
}

/* Botones anotacion */

.botonesanotacion {
  margin-top: 7px;
}

.botonAnotacionizq {
  margin-left: 10px;
  color: rgba(34, 34, 34, 0.83);
}

.botonAnotacionder {
  margin-left: 10px;
  color: rgba(34, 34, 34, 0.83);
}

/* Estilo CSS para las prioridades */

.prioridad1, .prioridad2, .prioridad3, .prioridad0 {
  margin-top: 2px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  border-radius: 19%;
  box-shadow: inset 2px 1px 15px rgba(53, 8, 8, 0.43);
}

.prior:hover .prioridades {
    visibility: visible;
}
.prior {
    position: relative;
}

.done {
  cursor:auto;
}

.prioridades div {
    margin-top: 10px;
}

.prioridades {
  position: absolute;
  padding: 9px;
  top: -18px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.77);
  background-color: #F9F9F9;
  z-index: 55;
  left: -9px;
  visibility: hidden;
  padding-top: 5px;
  height: 100px;
}

.prioridad1 {
    background-color: #D60000;
}
.prioridad2 {
    background-color: #D6D600;
}
.prioridad3 {
    background-color: #00D608;
}
.prioridad0 {
    background-color: #778678;
}

/* Etiquetas en la descripción */

.btn-xs {
    padding: 5px 4px;
    margin-left: 10px;
}

.parrafoFiltroEtiquetas {
    font-size: 16px;
    margin-top: 15px;
    margin-left: 4px;
}

.todasetiquetas {
    float: right;
}

.filtroetiquetas {
  margin-left: 10px;
  font-size: 15px;
}
