@(user: Usuario)

@main("Detalle de usuario") {
    <div style="margin:0px 50px">
        <h1>Datos del usuario @user.id</h1>
        <ul>
        <li><b>Login:</b> @user.login</li>
        <li><b>Nombre:</b> @user.nombre</li>
        <li><b>Apellidos:</b> @user.apellidos</li>
        <li><b>Correo electrónico:</b> @user.eMail</li>
        @if(user.fechaNacimiento!=null && user.fechaNacimiento!="") {
            <li><b>Fecha de nacimiento:</b> @user.fechaNacimiento.format("dd-MM-yyyy")</li>
        } else {
            <li><b>Fecha de nacimiento:</b> No especificada</li>
        }
        </ul>
        <p>
            <a class="btn btn-default"
                href="@routes.Usuarios.listaUsuarios()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></a>
            <a class="btn btn-primary"
                href="@routes.Usuarios.editarUsuario(user.id)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
        </p>
    </div>

}
