@(error_num: Integer, mensaje: String)


@home = {
    @if(session.get("tipo")==null) {
        href="@routes.Usuarios.formularioLogin()"
    }else {
        @if(session.get("tipo")=="admin") {
            href="@routes.Usuarios.listaUsuarios()"
        } else {
            href="@routes.Tareas.listaTareas(session.get("tipo").toInt)"
        }
    }
}

@colorfondo = {
    @if(error_num==401) {
        style="
            background-color:rgb(253, 253, 64);"
    }
    @if(error_num==400) {
        style="
            background-color:#FB5151;"
    }
}

@main("Ha ocurrido un error") {
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template" @colorfondo>
                <h1>
                    ¡Ha ocurrido un error!</h1>
                <h2>@error_num</h2>
                <div class="error-details">
                    @mensaje
                </div>
                <div class="error-actions">
                    <a @home class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Volver a la página principal </a>
                </div>
            </div>
        </div>
    </div>
</div>

}
