@(usuario: Usuario, tarea: Tarea)

@main("Modificar tarea") {
    <head>
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/crear-tarea.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/formulario.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/etiquetas.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/dragula.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/micss.css")">
      <script src="@routes.Assets.versioned("javascripts/smoke.min.js")" type="text/javascript"></script>
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/smoke.min.css")">
    </head>


    <div class="row">

      <!-- Parte izquierda: añadir la tarea -->
      @helper.form(action = routes.Tareas.grabaTareaModificada()) {
      <div class="col-xs-6">
        <h3>Modificar tarea @tarea.id del usuario @usuario.login</h3>
        <div class="contenido-columna">

          <input type="hidden" name="id" value='@tarea.id' >
          <input type="hidden" name="estado" value='@tarea.estado'>
          <input type="hidden" name="id_usuario" value='@tarea.usuario.id'>
          <input type="hidden" name="anotacion" value='@tarea.anotacion'>
          <!-- Informacin tarea -->
          <strong><p id="parrafo">Descripción de la tarea</p></strong>
          <textarea type="text" name="descripcion" class="form-control inputdescripcion"
                    placeholder="Introduce una descripción para la tarea..." required>@tarea.descripcion</textarea>
          <!-- Etiquetas añadidas a tarea -->
          <strong class="top-buffer"><p id="parrafo">Etiquetas añadidas a la tarea (soltar aquí)</p></strong>
          <div id='left-events' data-empty-message="No has etiquetado la tarea..." class="list-inline lista-tags contenedor contenedor-add-tags"></div>
          <input id="almacen_tags" type="hidden" name="tags" value=''>
          <!-- Botones acción tarea -->
          <div class="botones-tarea">
            <input type="submit" class="btn btn-success boton-tarea" value="Guardar cambios">
            <input type="submit" class="btn btn-danger boton-tarea" value="Cancelar" onclick="@routes.Tareas.listaTareas(usuario.id)">
          </div>
        </div>
      </div>
      }

      <!--Parte de la derecha: Administrar etiquetas -->
      <div class="col-xs-6">
        <h3>Administrar etiquetas de @usuario.login</h3>

        <div class="contenido-columna">
          <!--Mostrar etiquetas -->
          <strong class="top-buffer"><p id="parrafo">Tus etiquetas (arrastrar desde aquí)</p></strong>
          <div id='right-events' data-empty-message="No tienes ninguna etiqueta..."
              class="list-inline lista-tags contenedor contenedor-de-tags"></div>

          <div class="divcreareditaretiquetas">
            <!--Crear etiquetas -->
            <div class="divcrearetiqueta">
              <strong><p id="parrafo">Crear nuevas etiquetas</p></strong>
              <div class="input-group">
                <input type="text" id="nueva-tag" class="form-control inputssmall" name="nombre-etiqueta" placeholder="Nombre etiqueta">
                <span class="input-group-btn boton-input">
                  <button title="Crear nueva etiqueta" class="btn btn-primary" type="button" onclick='crear_etiqueta(@usuario.id)'>
                    <span class="glyphicon glyphicon-plus-sign"></span>
                  </button>
                </span>
              </div>
            </div>
            <!--Modificando etiquetas -->
            <div class="diveditaretiqueta">
              <strong><p id="parrafo">Modificar etiquetas</p></strong>
              <select class="form-control dropdown-etiquetas" id="sel3">
                <option value="" disabled selected>Selecciona una etiqueta</option>
              </select>
              <div class="input-group editaretiqueta">
                <input type="text" id="modif-tag" class="form-control inputssmall" name="modif-etiqueta" placeholder="Nuevo nombre etiqueta">
                <span class="input-group-btn boton-input">
                  <a title="Modificar etiqueta" href="#" onclick='editar_etiqueta(@usuario.id)' class="btn btn-primary" role="button">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>

          <br>
          <!-- Para eliminar una etiqueta -->
          <strong><p id="parrafo">Arrastrar aquí para eliminar la etiqueta</p></strong>
          <div id='eliminar-events' class='div-eliminar-etiqueta'>
              <span id="basurita" class="glyphicon glyphicon-trash" aria-hidden="true">
          </div>

        </div>
      </div>
    </div>

    <script>
        $( document ).ready(function() {
            mostrar_tags('@tarea.id', '@tarea.usuario.id')
        });
    </script>
    <script src="@routes.Assets.versioned("javascripts/dragula.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/etiquetas-tareas.js")" type="text/javascript"></script>
}
