@(tareaForm: Form[Tarea],usuario: Usuario, mensaje: String)


@main("Nueva tarea") {
    <head>
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/crear-tarea.css")">
    </head>

    <div style="margin:10px 30px">
        @if(mensaje!=null && mensaje!="") {
            <div class="alert alert-danger">
                @mensaje
            </div>
        }
    @helper.form(action = routes.Tareas.grabaNuevaTarea()) {
        <fieldset>



            <div class="container-fluid">

                <h1>Nueva tarea para el usuario @usuario.login</h1>
                <div class="row">

                    <div class="col-md-4">
                        <strong>Descripción de la tarea</strong><br>
                        <input type="text" name="descripcion" class="form-control" placeholder="Introduce una descripción para la tarea..." required>
                        <input type="hidden" name="id_usuario" value='@usuario.id' >

                        <!--aqui se iran añadiendo las etiquetas que se quieren-->
                        <strong class="top-buffer">Etiquetas añadidas a la tarea (pulsa para quitarlas)</strong><br>
                        <ul data-empty-message="No has etiquetado la tarea..." class="list-inline lista-tags" id="tags-selecc"></ul>

                        <input id="almacen_tags" type="hidden" name="tags" value=''>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="container-fluid">
            <div class="row top-buffer">
                <div class="col-md-4">
                    <input type="submit" class="btn btn-success" value="Guardar tarea">
                    <a class="btn btn-danger"
                        href="@routes.Tareas.listaTareas(usuario.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></a>
                </div>
            </div>
        </div>
    }


    <br>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h3>Administrar etiquetas de @usuario.login</h3>
            </div>
        </div>

        <!--TUS ETIQUETAS-->
        <strong class="top-buffer">Tus etiquetas</strong><br>
        <ul data-empty-message="No tienes ninguna etiqueta..." class="list-inline lista-tags" id="tags_usuario"></ul>

        <div class="row">
            <div class="col-md-4">
                <strong>Crear nuevas etiquetas</strong>
                <div class="input-group">
                   <input type="text" id="nueva-tag" class="form-control" name="nombre-etiqueta" placeholder="Introduce un nombre para la etiqueta...">
                   <span class="input-group-btn">
                        <button title="Crear nueva etiqueta" class="btn btn-primary" type="button" onclick='crear_etiqueta(@usuario.id)'><span class="glyphicon glyphicon-plus-sign"></span></button>
                   </span>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $( document ).ready(function() {
        actualizar_etiquetas('@usuario.id')
    });
</script>
<script src="@routes.Assets.versioned("javascripts/etiquetas-tareas.js")" type="text/javascript"></script>
}
