@(tareas: List[Tarea], usuario: Usuario, mensaje: String)

@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    </script>
    <script type="text/javascript">
       function up(urlModificar, id, descripcion, estado, idusuario) {
         if(estado == 'pendiente') nuevo_estado = 'realizada';
         else nuevo_estado = 'pendiente';
         $.ajax({
           url: urlModificar,
           data : { id : id, descripcion : descripcion, estado : nuevo_estado, id_usuario : idusuario  },
           type: 'POST',
           success: function(results) {
             location.reload();
           }
         });
       }
    </script>
}

@main("Listado de tareas",scripts) {
    <head>
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/listatareas.css")">
    </head>

    <div style="margin:0px 50px">
        <h2>Listado de tareas de @usuario.login</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Id</th>
                  <th>Descripción</th>
                  <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
               <!--Tareas estado pendientes-->
                @for(tarea <- tareas) {
                  @if(tarea.estado=="pendiente") {
                  <tr>
                      <td>@tarea.id</td>
                      <td>@tarea.descripcion</td>
                      <td>
                          <a class="btn btn-primary btn-sm" href="@routes.Tareas.editarTarea(tarea.usuario.id,tarea.id)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                          <a class="btn btn-warning btn-sm" onclick="del('/tareas/' + '@tarea.id');"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                          <a href="" class="btn btn-primary btn-sm" style="cursor: pointer;"
                            onclick="up('@routes.Tareas.grabaTareaModificada()', '@tarea.id', '@tarea.descripcion', '@tarea.estado', '@tarea.usuario.id'); return false;">
                            <span class="glyphicon glyphicon-unchecked"></span>
                          </a>
                      </td>
                  </tr>
                  }
                }
                <!--Tareas estado realizadas-->
                @for(tarea <- tareas) {
                  @if(tarea.estado!="pendiente") {
                  <tr>
                      <td id='realizada'>@tarea.id</td>
                      <td id='realizada'>@tarea.descripcion</td>
                      <td>
                          <a class="btn btn-primary btn-sm" id='realizadab' href="@routes.Tareas.editarTarea(tarea.usuario.id,tarea.id)"><span class="glyphicon glyphicon-edit" id='realizada' aria-hidden="true"></span></a>
                          <a class="btn btn-warning btn-sm" id='realizadab' onclick="del('/tareas/' + '@tarea.id');"><span class="glyphicon glyphicon-trash" id='realizada' aria-hidden="true"></span></a>
                          <a href="" class="btn btn-primary btn-sm" id='realizadab' style="cursor: pointer;"
                            onclick="up('@routes.Tareas.grabaTareaModificada()', '@tarea.id', '@tarea.descripcion', '@tarea.estado', '@tarea.usuario.id'); return false;">
                            <span class="glyphicon glyphicon-check" id='realizada'></span>
                          </a>
                      </td>
                  </tr>
                  }
                }
            </tbody>
        </table>

        <a class="btn btn-primary"
            href="@routes.Tareas.formularioNuevaTarea(usuario.id)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>

        <p>
        @if(mensaje!=null && mensaje!="") {
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-saved" aria-hidden="true"> @mensaje
        </div>
        }
        </p>
    </div>
}
