@(tareas: List[Tarea], etiquetas: List[Etiqueta], usuario: Usuario, mensaje: String)

@scripts = {}

@main("Listado de tareas",scripts) {
    <head>
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/listatareas.css")">
      <script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
      <!-- Incluimos smoke -->
      <script src="@routes.Assets.versioned("javascripts/smoke.min.js")" type="text/javascript"></script>
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/smoke.min.css")">
      <!-- Incluimos js con funciones para listaTareas -->
      <script src="@routes.Assets.versioned("javascripts/listaTareas.js")" type="text/javascript"></script>
    </head>

    <div style="margin:0px 50px">
        <h2>Listado de tareas de @usuario.login</h2>
        <p class="parrafoFiltroEtiquetas">Filtro por etiquetas:
            <a data-toggle='tooltip' style="cursor:pointer;" class="todasetiquetas" onclick="mostrarTodasTareasConSinEtiqueta()">
              <span class='glyphicon glyphicon-tag'></span>
              <span>Mostrar todas</span>
            </a>
            @for(etiqueta <- etiquetas) {
            <a data-toggle='tooltip' style="cursor:pointer;" class="filtroetiquetas" onclick="ocultarTareasSinEtiqueta(@etiqueta.id)">
              <span class='glyphicon glyphicon-tag'></span>
              <span>@etiqueta.nombre</span>
            </a>
            }
        </p>
        <table class="table table-striped mitabla">
            <thead>
                <tr>
                  <th></th>
                  <th>Id</th>
                  <th name="descrip" id="descrip">Descripción</th>
                  <th class="accion">Acciones</th>
                </tr>
            </thead>
            <tbody>
               <!--Tareas estado pendientes-->
                @for(tarea <- tareas) {
                  @if(tarea.estado=="pendiente") {
                  <tr class="accordion-container show-btn tarea" id="@for(etiqueta <- tarea.etiquetas){@etiqueta.id,}">
                    <!--Prioridad-->
                    <td class="tdprioridad">
                      <div class="prior prioridad@tarea.prioridad">
                        <div class="prioridades">
                            <div class="prioridad1" onclick="guardarTareaPrioridad('@routes.Tareas.grabaTareaModificada()', '@tarea.id', '@tarea.descripcion', '@tarea.estado', '@tarea.usuario.id', '@tarea.anotacion', 1); return false;"></div>
                            <div class="prioridad2" onclick="guardarTareaPrioridad('@routes.Tareas.grabaTareaModificada()', '@tarea.id', '@tarea.descripcion', '@tarea.estado', '@tarea.usuario.id', '@tarea.anotacion', 2); return false;"></div>
                            <div class="prioridad3" onclick="guardarTareaPrioridad('@routes.Tareas.grabaTareaModificada()', '@tarea.id', '@tarea.descripcion', '@tarea.estado', '@tarea.usuario.id', '@tarea.anotacion', 3); return false;"></div>
                        </div>
                      </div>
                    </td>
                    <td>@tarea.id</td>
                    <td class="tddescripcion" id="accordion-titulo@tarea.id" onclick="mostrarAcordeon(@tarea.id)">
                        @tarea.descripcion
                        @for(etiqueta <- tarea.etiquetas){
                          <a data-toggle='tooltip' class='btn-xs btn-info'>
                            <span class='glyphicon glyphicon-tag'></span>
                            <span>@etiqueta.nombre</span>
                          </a>
                        }
                        <!-- Iconos abrir acordeón anotación -->
                        <a id="iconoabriranotacion@tarea.id">
                          <span class="glyphicon glyphicon-chevron-down iconoacordeon" aria-hidden="true"></span>
                        </a>
                        <a id="iconocerraranotacion@tarea.id" class="iconoinvisible">
                          <span class="glyphicon glyphicon-chevron-up iconoacordeon" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td class="botonesaccion">
                        <a class="btn btn-primary btn-sm" href="@routes.Tareas.editarTarea(tarea.usuario.id,tarea.id)">
                          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-warning btn-sm" onclick="del('/tareas/' + '@tarea.id');">
                          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                        <a href="" class="btn btn-primary btn-sm" style="cursor: pointer;"
                          onclick="modificarEstado('@routes.Tareas.grabaTareaModificada()', '@tarea.id', '@tarea.descripcion', '@tarea.estado', '@tarea.usuario.id', '@tarea.anotacion', '@tarea.prioridad'); return false;">
                          <span class="glyphicon glyphicon-unchecked"></span>
                        </a>
                    </td>
                  </tr>
                  <!-- Anotacion de la tarea -->
                  <tr>
                   <td class="accordion-content@tarea.id anotacioninvisible"></td>
                   <td class="columna2anotacion  accordion-content@tarea.id anotacioninvisible"></td>
                   <td class="accordion-content@tarea.id anotacioninvisible">
                    <div class="accordion-content@tarea.id anotacioninvisible">
                      <textarea id="textoanotacion@tarea.id" class="form-control textanotacion" placeholder="Escribe aquí la anotación.">@tarea.anotacion</textarea>
                      <div class="botonesanotacion">
                        <a id="botonguardarA" class="botonAnotacionizq" title="Guardar anotación"
                           onclick="modificarTareaAnotacion('@routes.Tareas.grabaTareaModificada()', '@tarea.id', '@tarea.descripcion', '@tarea.estado', '@tarea.usuario.id', '@tarea.prioridad'); return false;">
                         <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                        </a>
                        <a class="botonAnotacionder" title="Borrar anotación"
                             onclick="modificarTareaAnotacion('@routes.Tareas.grabaTareaModificada()', '@tarea.id', '@tarea.descripcion', '@tarea.estado', '@tarea.usuario.id', 'borrar', '@tarea.prioridad'); return false;">
                         <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                      </div>
                    </div>
                   </td>
                   <td class="accordion-content@tarea.id anotacioninvisible"></td>
                  </tr>
                  }
                }

                <!--Tareas estado realizadas-->
                @for(tarea <- tareas) {
                  @if(tarea.estado!="pendiente") {
                    <tr class="tarea" id="@for(etiqueta <- tarea.etiquetas){@etiqueta.id,}">
                      <td class="tdprioridad">
                        <div class="prioridad@tarea.prioridad done"></div>
                      </td>
                      <td class='realizada'>@tarea.id</td>
                      <td class='realizada tddescripcion' id="accordion-titulo@tarea.id" onclick="mostrarAcordeon(@tarea.id)">
                        @tarea.descripcion
                        @for(etiqueta <- tarea.etiquetas){
                          <script>console.log("hola")</script>
                          <a data-toggle='tooltip' class='btn-xs btn-info realizadaEtiqueta'>
                            <span class='glyphicon glyphicon-tag'></span>
                            <span>@etiqueta.nombre</span>
                          </a>
                        }
                        <!-- Iconos abrir acordeón anotacinó -->
                        <a id="iconoabriranotacion@tarea.id">
                          <span class="glyphicon glyphicon-chevron-down iconoacordeon" aria-hidden="true"></span>
                        </a>
                        <a id="iconocerraranotacion@tarea.id" class="iconoinvisible">
                          <span class="glyphicon glyphicon-chevron-up iconoacordeon" aria-hidden="true"></span>
                        </a>
                      </td>
                      <td class="botonesaccion">
                          <a class="btn btn-primary btn-sm realizadab" href="@routes.Tareas.editarTarea(tarea.usuario.id,tarea.id)">
                            <span class="glyphicon glyphicon-edit realizada" aria-hidden="true"></span>
                          </a>
                          <a class="btn btn-warning btn-sm realizadab" onclick="del('/tareas/' + '@tarea.id');">
                            <span class="glyphicon glyphicon-trash realizada" aria-hidden="true"></span>
                          </a>
                          <a href="" class="btn btn-primary btn-sm realizadab" style="cursor: pointer;"
                            onclick="modificarEstado('@routes.Tareas.grabaTareaModificada()', '@tarea.id', '@tarea.descripcion', '@tarea.estado', '@tarea.usuario.id', '@tarea.anotacion', '@tarea.prioridad'); return false;">
                            <span class="glyphicon glyphicon-check realizada"></span>
                          </a>
                      </td>
                  </tr>
                  <!-- Anotacion de la tarea -->
                  <tr>
                    <td class="accordion-content@tarea.id anotacioninvisible"></td>
                    <td class="columna2anotacion  accordion-content@tarea.id anotacioninvisible"></td>
                    <td class="accordion-content@tarea.id anotacioninvisible">
                      <div class="accordion-content@tarea.id anotacioninvisible">
                        <textarea id="textoanotacion@tarea.id" class="form-control textanotacion realizada" placeholder="Escribe aquí la anotación.">@tarea.anotacion</textarea>
                        <div class="botonesanotacion">
                          <a id="botonguardarA" class="botonAnotacionizq" title="Guardar anotación"
                              onclick="modificarTareaAnotacion('@routes.Tareas.grabaTareaModificada()', '@tarea.id', '@tarea.descripcion', '@tarea.estado', '@tarea.usuario.id', '@tarea.prioridad'); return false;">
                            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                          </a>
                          <a class="botonAnotacionder" title="Borrar anotación"
                                onclick="modificarTareaAnotacion('@routes.Tareas.grabaTareaModificada()', '@tarea.id', '@tarea.descripcion', '@tarea.estado', '@tarea.usuario.id', 'borrar', '@tarea.prioridad'); return false;">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                          </a>
                        </div>
                      </div>
                    </td>
                    <td class="accordion-content@tarea.id anotacioninvisible"></td>
                  </tr>
                  }
                }
            </tbody>
        </table>

        <a class="btn btn-primary"
            href="@routes.Tareas.formularioNuevaTarea(usuario.id)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>

        <p>
        @if(mensaje!=null && mensaje!="") {
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-saved" aria-hidden="true"> @mensaje
        </div>
        }
        </p>
    </div>

}
