@(nombre: String)

@(nombre: String)

@main("Hola") {

  <head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/saludo.css")">
  </head>

  <body>
    <div class="divContenido">
      <div class="divTituloContenido">
        <h2 class="tituloContenido">
          <h1 style="text-align: center;">
            Hola @nombre, bienvenido a
          </h1>
        </h2>
      </div>
      <div class="tituloApp">
        <p>
          To-do List
        </p>
      </div>
    </div>
  </body>
}
