<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/webmarketing.css")">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
    <div class="seccion1" id="ToDoList">
        <div class="fondoimg">
            <div class="fondocolor">
                <header class="menupag">
                    <ul>
                        <li><a href="#ToDoList">ToDoList</a></li>
                        <li><a href="#Servicio">Servicio</a></li>
                        <li><a href="#Equipo">Nuestro Equipo</a></li>
                        <li><a href="#Opiniones">Opiniones</a></li>
                        <li><a href="#Contacto">Contacto</a></li>
                    </ul>
                </header>
                <h1>MadsToDoList</h1>
                <h3>Gestiona las actividades de los empleados de la empresa</h3>
            </div>
        </div>
    </div>
    <div class="seccion2">
        <div class="titulo">
            <h2>¿Qué es ToDoList?</h2>
            <p>
              ToDoList es la mejor forma de organizar las tareas de tu empresa. Comprueba lo que hace cada empleado,
              controla tus tareas de forma e intuitiva, añade etiquetas y anotaciones para no olvidarte de los detalles
              y, definitivamente, mejora la productividad de la empresa.
            </p>
        </div>
    </div>

    <div class="seccion3" id="Servicio">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="" alt="">
              <div class="carousel-caption">
                  <table><tr><td><img  src="@routes.Assets.versioned("images/empresario.jpg")"></td><td>
                  <div>
                    <h3>Empieza ya</h3>
                  <p>Para usar la aplicación como empleado, simplemente tienes que acceder a la web y registrarte. A partir de ese
                  momento podrás disfrutar de una mejor organización en tu trabajo.</p>
                </div></td></tr></table></div>
            </div>
            <div class="item">
              <img src="" alt="">
              <div class="carousel-caption"><table><tr><td>
                <img  src="@routes.Assets.versioned("images/tareastrabajo.jpg")"></td><td>
<div>
                <h3>No pierdas el rastro de tus tareas.</h3>
                  <p>Como empleado, con tu cuenta única, podrás gestionar todas tus tareas de forma sencilla. Añade tantas tareas
                  como quieras, cambia sus descripciones o estados, y eliminalas completamente con un botón. Todo al
                  alcance de tus manos.
                  </p>
              </div></td></tr></table></div>
            </div>

              <div class="item">
              <img src="" alt="">
              <div class="carousel-caption"><table><tr><td>
                <img  src="@routes.Assets.versioned("images/serviciostareas.jpg")"></td><td>
                <div><h3>No más paneles de administración incomprensibles</h3>
                  <p>Con ToDoList, le ahorrarás dolores de cabeza al administrador. Con una cuenta de usuario especial, podrás
                  acceder de forma segura al panel de administración, donde habrá un listado de usuarios. Podrás borrarlos
                  y modificarlos con un simple click dondequiera que estés, usando la aplicación web.</p>
            </div></td></tr></table></div>
            </div>


            <div class="item">
            <img src="" alt="">
            <div class="carousel-caption"><table><tr><td>
              <img  src="@routes.Assets.versioned("images/ListaTareas.jpg")"></td><td>
              <div><h3>El etiquetado nunca había sido tan fácil</h3>
                <p>Filtra todas las tareas que tengan algo en común usando etiquetas. Podrás tener varias etiquetas, y
                etiquetar todas tus tareas. Si has acabado ese importante proyecto, elimina la etiqueta o modifícala
                para reusarla en otras tareas.</p>
          </div></td></tr></table></div>
          </div>



          <div class="item">
          <img src="" alt="">
          <div class="carousel-caption"><table><tr><td>
            <img  src="@routes.Assets.versioned("images/equipotrabajo.jpg")"></td><td>
            <div><h3>Detalla tus tareas más importantes con anotaciones</h3>
              <p>Si una tarea necesita de un tratamiento especial, o tienes que añadirle más detalles, tendrás a tu disposición
              las anotaciones: la forma más sencilla de agregarle una nota a una tarea, para que no pierdas el tiempo
              pensando qué es lo que tenías que hacer en esa tarea.</p>
          </div></td></tr></table></div>
        </div>
          </div>


        </div>
    </div>



    <div class="seccion5" id="Opiniones">
        <div class="comentarios">

            <div class="comentario">
                <p>Esta aplicación es genial. Hemos podido organizar todos nuestros mítines de forma sencilla, sin ponernos nerviosos.</p>
                <img  src="@routes.Assets.versioned("images/perfilpabloiglesias.jpg")">
                <h4>@@Pablo_Iglesias_</h4>
            </div>

            <div class="comentario">
                <p>Recomiendo ToDoList, una forma sencilla de organizar tus tareas de empresa.</p>
                <img  src="@routes.Assets.versioned("images/perfilDomingo.png")">
                <h4>@@domingogallardo</h4>
            </div>

            <div class="comentario">
                <p>Un diseño muy elegante el de #ToDoList, me ha emocionado mucho más que otras películas.</p>
                <img  src="@routes.Assets.versioned("images/perfilspielberg.jpg")">
                <h4>@@Spielberg</h4>
            </div>

            <div class="comentario">
                <p>Descubre #ToDoList, una aplicación web desarrollada por nuestros estudiante para controlar tareas.</p>
                <img  src="@routes.Assets.versioned("images/perfilepsalicante.png")">
                <h4>@@epsalicante</h4>
            </div>
            <div class="comentario">
                <p>Me ha gustado mucho esta aplicación, es la BOOOOOOMBAAAAAAA.</p>
                <img  src="@routes.Assets.versioned("images/perfilkingAfrica.jpeg")">
                <h4>@@KingAfrica</h4>
            </div>

            <div class="comentario">
                <p>@@Planeta_Calleja tiene nuevo patrocinador: ToDoList, con el que organizaremos todas las escaladas por los Pirineos.</p>
                <img src="@routes.Assets.versioned("images/perfiljesusCalleja.jpeg")">
                <h4>@@jesuscalleja</h4>
            </div>
        </div>
    </div>





    <div class="seccion4" id="Equipo">
        <h2>Los 4 integrantes del grupo</h2>
        <div class="equipo">
            <div class="persona">
                <table>
                    <tr>
                        <td><img src="@routes.Assets.versioned("images/perfilJorge.jpeg")"></td>
                        <td>
                            <h4>@@jorgeazorin</h4>
                            <p>Empezó desarrollando webs para la venta de carritos de bebé como hobby, y acabó descubriendo que amaba la Ingeniería Informática. Adicto a los McFlurries.</p>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="persona">
                <table>
                    <tr>
                        <td><img src="@routes.Assets.versioned("images/perfilManu.jpg")"></td>
                        <td>
                            <h4>@@ManuVerdu7</h4>
                            <p>Top 9 mundial de FIFA 14. El mismísimo Domingo Gallardo, le pidió un autógrafo. Le entusiasma el framework AngularJS, y odia Jenkins.</p>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="persona">
                <table>
                    <tr>
                        <td><img src="@routes.Assets.versioned("images/perfilHector.jpg")"></td>
                        <td>
                            <h4>@@HectorGabucio</h4>
                            <p>Odia AngularJS. Afirma saber inglés, pero no tiene el B1. Empezó a desarrollar aplicaciones Android a los 20 años, y sigue aprendiendo...</p>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="persona">
                <table>
                    <tr>
                        <td><img src="@routes.Assets.versioned("images/perfilEncar.jpg")"></td>
                        <td>
                            <h4>@@EncarnaAmoros</h4>
                            <p>Con previa experiencia siendo git master, ha tomado las riendas con ToDoList. Amante de los gatos y la música, siempre nos canta las cuarenta.</p>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>





    <div class="seccion6" id="Contacto">
        <h4>Déjanos tus datos, escribe un mensaje y te responderemos lo antes posible</h3>
        <div class="colm1">
            <input type="text" placeholder="email">
            <input type="text" placeholder="Nombre y apellidos">
            <input type="text" placeholder="telefono">
        </div>
        <div class="colm2">
            <textarea></textarea>
        </div>
        <button>ENVIAR</button>
    </div>



    <script>
        $('.carousel').carousel()
    </script>
</body>
</html>
